# systemd unit file for calibration preprocessing service

[Unit]

Description=Dask scheduler

[Service]

# Command to execute when service started
ExecStart=/home/ubuntu/anaconda3/envs/py310t3/bin/python /home/ubuntu/proj/dsa110-shell/dsa110-T3/services/tasktrigger.py
#ExecStart=/home/ubuntu/anaconda3/envs/casa38/bin/python /home/ubuntu/proj/dsa110-shell/dsa110-T3/services/tasktrigger.py
ExecStop=/bin/true

# Prevent python buffering; write to syslog
Environment=PYTHONUNBUFFERED=1
EnvironmentFile=/home/ubuntu/.config/systemd/user/environment.conf
#Environment=PATH="/home/ubuntu/anaconda3/envs/py310t3/bin:/home/ubuntu/anaconda3/condabin:%(ENV_PATH)s"

# Restart service on failure
Restart=on-failure

[Install]

# Automatically start service on boot
WantedBy=default.target
